<div class="row">
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <h4>DISCLAIMER :</h4>
                    <ul>
                        <li><a href="https://devfest.gdgnantes.com" target="_blank">DevFest Nantes</a> {{'disclaimer.line1' | translate}}</li>
                        <li>{{'disclaimer.line2' | translate}}</li>
                        <li>{{'disclaimer.line3' | translate}}</li>
                        <li>{{'disclaimer.line4' | translate}}</li>
                        <li>{{'disclaimer.line5' | translate}}</li>
                        <li>{{'disclaimer.line6' | translate}} (<a href="https://www.youtube.com/playlist?list=PLuZ_sYdawLiXf6PNaXtEIPOTVIKLF2L5x" target="_blank">Playlist</a>).</li>
                        <li>{{'disclaimer.line7' | translate}}</li>
                        <li><a href="{{'disclaimer.urlCodeConduct' | translate}}" target="_blank">{{'disclaimer.codeConduct' | translate}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel">
        <div class="panel-body ">
            {{'disclaimer.informations' | translate}}
            <div class="row">
                <div class="col-md-4">
                    <h4>{{'disclaimer.type' | translate}}</h4>
                        <ul>
                            <li>{{'step2.types.conference' | translate}} (50min)</li>
                            <li>{{'step2.types.codelab' | translate}} (2h)</li>
                            <li>{{'step2.types.quickie' | translate}} (20min)</li>
                        </ul>
                </div>
                <div class="col-md-4">
                    <h4>{{'disclaimer.track' | translate}}</h4>
                    <ul>
                        <li>{{'step2.tracks.web' | translate}}</li>
                        <li>{{'step2.tracks.cloud' | translate}}</li>
                        <li>{{'step2.tracks.mobile' | translate}}</li>
                        <li>{{'step2.tracks.discovery' | translate}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
