<div class="row">
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <h4> DISCLAIMER: </h4>
                    <ul>

                        <li><a href="https://devfest.gdgnantes.com" target="_blank">DevFest Nantes</a> is an international event, talks are expected 75% in french and 25% in english.</li>
                        <li>Main topics for this year are : #cloud #container #paas #iaas #web #angular #react #iot #functionalProgramming #bigData #agile #design.<br>
  Other topics are welcome if you believe they are relevant.</li>
                        <li>Talks last 50 minutes. Q&amp;A sequences should be included in this time.</li>
                        <li>Maximum 2 speakers.</li>
                        <li>Speakers selected through the call for papers will have free access both days of the conference. Breakfast, Lunch, Speaker Dinner & Afterparty are included in the package.</li>
                        <li>Almost all is recorded in HD and available on Youtube one week after the event. We got 5 000 views on the <a href="https://www.youtube.com/playlist?list=PLuZ_sYdawLiXf6PNaXtEIPOTVIKLF2L5x" target="_blank">2015 playlist</a>.</li>
                        <li>Travel and lodging expenses COULD be covered by DevFest Nantes for speakers selected through this call for papers.</li>
                        <li>Call for papers will end the 31th August and the schedule will be available the 12th September.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel">
        <div class="panel-body ">
            Voici quelques informations sur les formats et catégories des talks :
            <div class="row">
                <div class="col-md-8">
                    <h4>Formats : </h4>
                        <ul>
                            <li>{{'step2.types.conference' | translate}} (50min)</li>
                            <li>{{'step2.types.codelab' | translate}} (2h)</li>
                            <li>{{'step2.types.quickie' | translate}} (20min)</li>
                        </ul>
                </div>
                <div class="col-md-4">
                    <h4>Catégories :</h4>
                    <ul>
                        <li>{{'step2.tracks.web' | translate}}</li>
                        <li>{{'step2.tracks.cloud' | translate}}</li>
                        <li>{{'step2.tracks.mobile' | translate}}</li>
                        <li>{{'step2.tracks.discovery' | translate}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row ng-scope">
    <div class=" panel">
        <div class="panel-body">
            <div class="row talk_infos_row">
                <div class="col-md-8">
                    <h4> CODE OF CONDUCT: </h4>
                    <p>
                        Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, or religion (or lack thereof). We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media. Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organisers.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
